@model List<string>
@{
    ViewData["Title"] = "Manage Categories";
}

<h3>Categories</h3>

<ul class="list-group mt-3">
    @foreach (var c in Model)
    {
        <li class="list-group-item">@c</li>
    }
</ul>

<form class="mt-4" asp-action="AddCategory" method="post">
    <div class="input-group">
        <input type="text" name="categoryName" class="form-control" placeholder="New Category" required />
        <button class="btn btn-primary">Add</button>
    </div>
</form>
