    <div class="row justify-content-center">
        <div class="col-md-10">

            <div class="card shadow-lg p-5 border-0 rounded-4 alignmnent-center" style="  max-width: 780px; max-height: 160vh; background: linear-gradient(#f8cff8, #c6d9ed, #f8cff8);">

                <h2 class="fw-bold text-center mb-4">About BookSwap</h2>

                 <p class="fs-5 text-muted"> 
                @* text-muted used for lighter text color */ *@
                    BookSwap is a simple and user-friendly platform created to help readers exchange, buy, and share books
                    with each other. Whether you're a student trying to find affordable textbooks or a reader looking to
                    discover something new, BookSwap makes it easy and convenient. 
                </p>

                <p class="fs-5 text-muted">
                    Our mission is to bring book lovers together, reduce book waste, and make reading accessible for
                    everyone. With BookSwap, you can create an account, upload your books, browse books shared by others,
                    and connect with sellers directly in a safe environment.
                </p>

                <h4 class="fw-semibold mt-4">Why BookSwap?</h4>

                <ul class="fs-5 text-muted mt-2"> @* text-muted used for lighter text color and mt-2 means that  margin top is 0.5rem *@
                    <li>✔ Easily upload, buy, or exchange books</li>
                    <li>✔ A simple interface designed for students and readers</li>
                    <li>✔ Affordable access to all kinds of books</li>
                    <li>✔ Connect with verified users only</li>
                    <li>✔ Promote a culture of reading and sharing</li>
                </ul>

                <h4 class="fw-semibold mt-4">Our Vision</h4>
                <p class="fs-5 text-muted">
                    We aim to build the largest and most trusted online community for book exchanging in Pakistan, making
                    reading more affordable and sustainable for everyone.
                </p>

                <div class="text-center mt-4">
                    <a href="/Home/Contact" class="btn btn-dark btn-lg px-4 rounded-3 fw-semibold">   @* btn-lg means large button and px-4 means padding left and right is 1.5rem and rounded-3 means border radius is 0.75rem and fw-semibold means font weight is 600 and btn dark is dark colored button and px is padding left and right *@
                        Contact Us
                    </a>
                </div>

            </div>

        </div>
    </div>
