
<div class="container" style=" border=0; rounded4; max-width: 740px; border:round; max-height: 135vh; background: linear-gradient(#5792d1, #b0cefa, #ccfaea);"> 


    <h1 class="text-center mb-4 fw-bold">Contact Us</h1> 

    <p class="text-center mb-4">
        If you have any questions, feedback, or need assistance, feel free to reach out.
        We're here to help!
    </p>


        <h5 class="fw-bold mb-3">Email Us</h5>
        <p>
            You can send us an email anytime at:
            <a href="mailto:bookswap.help@gmail.com">bookswap.help@gmail.com</a>
        </p>

        <hr />

        <h5 class="fw-bold mb-3">Send Us a Message</h5>

        <form>
            <div class="mb-3">
                <label class="form-label">Your Name</label>
                <input type="text" class="form-control " aria-label="darker" placeholder="Enter your name" required /> 
            </div>

            <div class="mb-3">
                <label class="form-label">Your Email</label>
                <input type="email" class="form-control" aria-label="darker" placeholder="Enter your email"  aria-placeholder="darker" required />
            </div>

            <div class="mb-3">
                <label class="form-label">Message</label>
                <textarea class="form-control" rows="5" placeholder="Write your message..." required></textarea>
            </div>
            <button type="submit" class="btn btn-primary px-4">Send Message</button>
        </form>

</div>
