/* _content/BookSwap/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-hxe5afsghu] { 
  /*  used for  */
  white-space: normal; 
  text-align: center;
  word-break: break-all;  

}


a[b-hxe5afsghu] {
  color: #0077cc;
}

.btn-primary[b-hxe5afsghu] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-hxe5afsghu], .nav-pills .show > .nav-link[b-hxe5afsghu] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-hxe5afsghu] {
  border-top: 0.5px solid #fbfafa;  
}
.border-bottom[b-hxe5afsghu] {
  border-bottom: 1px solid #f6f1f1;
}

.box-shadow[b-hxe5afsghu] {
  box-shadow: 0 .25rem .75rem rgba(13, 1, 1, 0.839);
}

button.accept-policy[b-hxe5afsghu] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-hxe5afsghu] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 50px;
}
